@import '../../../style/helpers/variables';

.careers{
    margin-top: 90px;
    .career-single{
        position: relative;
        padding: 40px 50px;
        padding-top: 0;
        margin-top: 50px;
        box-shadow: 0px 8px 16px 0px rgba(40, 40, 40, 0.1);
        background-color: #fff;
        border: 2px solid #ebebeb;
        .career-type{
            position: relative;
            padding: 6px 20px;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            color: #0074f3;
            transform: translateY(-20px);
            margin-bottom: 3px;
            background: #eaeaea;
        }
        h2{
            position: relative;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 7px;
        }
        p{
            position: relative;
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 20px;
        }
    }
}